<template name="list_posts">
  <div class="container pt">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Blog Posts</h2>
        <a href="/admin/posts/add" class="btn btn-primary btn-xs">Create Post</a>
        <br><br>
        <table class="table table-striped">
          <tr>
            <th>Post Title</th>
            <th>Last Update</th>
            <th></th>
          </tr>
          {{#each posts}}
          <tr>
            <td>{{title}}</td>
            <td>{{formatDate updatedAt}}</td>
            <td><a href="/admin/posts/{{_id}}/edit" class="btn btn-warning btn-xs">Edit</a> <buton class="btn btn-danger btn-xs delete-post">Delete</buton></td>
          </tr>
          {{else}}
          <tr>
            <td>There are no Posts... Add Some Now!</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</template>
