<template name="about">
  <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="assets/img/user.png" alt="Stanley">
            <h1>About Julian</h1>
            <p></p>

          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->
  <!-- +++++ Information Section +++++ -->
    <div class="container pt">
      <div class="row mt centered">
        <div class="col-lg-3">
          <span class="fa fa-html5"></span>
          <p>I've been using HTML and CSS to build websites for years.  They are the basic building blocks of web development!</p>
        </div>

        <div class="col-lg-3">
          <span class="fa fa-code"></span>
          <p>javaScript and jQuery makes websites shine with interactivity and reactivity!</p>
        </div>

        <div class="col-lg-3">
          <span class="fa fa-rocket"></span>
          <p>I use Meteor.js to turn web sites into web apps!</p>
        </div>

        <div class="col-lg-3">
          <span class="fa fa-wordpress"></span>
          <p>I've used wordpress for 5 years or so. </p>
        </div>
      </div><!-- /row -->

      <div class="row mt">
        <div class="col-lg-6">
          <h4>THE PROCESS</h4>
          <p>I approach web development in two ways. First as the end user, second as the business owner.  I make sits that are beautiful to look at and easy to use for the user and easy to update and use for the owner.</p>
          <p>My process starts with a general understanding of what my client needs. Then I build it out, keeping my clients fully informed during the entire process.  Once the client and I are both happy, I polish it up and get it ready for production!</p>
          <p>I always include writen instructions on how to use the back end.  Usually these instructions are "click on add product, fill out the form, click submit...boom goes the dynamite!" I make it that simple!</p>
        </div><!-- /colg-lg-6 -->

        <div class="col-lg-6">
          <h4>SKILLS</h4>
          HTML/CSS
          <div class="progress">
            <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>

          javaScript/jQuery
          <div class="progress">
            <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
              <span class="sr-only">75% Complete</span>
            </div>
          </div>

          Meteor.JS
          <div class="progress">
            <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
              <span class="sr-only">65% Complete</span>
            </div>
          </div>

          Wordpress
          <div class="progress">
            <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>

        </div><!-- /col-lg-6 -->
      </div><!-- /row -->
    </div><!-- /container -->

</template>
