<template name="footer">
  <!-- +++++ Footer Section +++++ -->

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Geographical Location</h4>
        <p>
          Kentucky, US<br/>
          864-354-0962 <br/>
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>Find Me</h4>
        <p>
          <a href="#"> GitHub</a><br/>
          <a href="#">jsFiddle</a><br/>
          <a href="#">Codepen.io</a>
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
          <h4>What would you do...</h4>
        <p>For a Klondike bar?</p>
      </div><!-- /col-lg-4 -->

    </div>

  </div>
</div>

</template>
