<template name="home">
  <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="{{getAdminImage}}" alt="Julian">
            <h1>Hello, I'm Julian</h1>
            <p>Front-End Web Developer, Code Ninja, Meteor.JS User and Beard Enthusiast!</p>
            <p>I bulid websites for businesses, restaurants, artists and anyone else that wants a good looking website with a simple backend.</p>

          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->
    {{> work}}
</template>
